[submodule "AIK-Linux"]
	path = AIK-Linux
	url = https://github.com/papaL3xa/Android-Image-Kitchen
[submodule "KernelSU-Next"]
	path = KernelSU-Next
	url = https://github.com/sidex15/KernelSU-Next
	branch = next-susfs-experimental
