# StardustKernel Config File
# This file gets merged with the device-specific defconfig on kernel compilation
# Kernel defconfigs are left stock with minimal edits while this file includes all of the major modifications done to the kernel config

# Enable OverlayFS
CONFIG_OVERLAY_FS=y

# Enable 32-bit VDSO
CONFIG_KUSER_HELPERS=y
CONFIG_COMPAT_VDSO=y

# Set androidboot.boot_devices
CONFIG_CMDLINE="androidboot.boot_devices=13d60000.ufs"
CONFIG_CMDLINE_EXTEND=y

# Compress PStore with LZO-RLE
# CONFIG_PSTORE_ZLIB_COMPRESS is not set
CONFIG_PSTORE_LZO_RLE_COMPRESS=y

# Enable Samsung Memory Management
CONFIG_SEC_MM=y

# Spoof CMDLine properties for Play Integrity API / SafetyNet Attestation
CONFIG_PROC_SPOOF_CMDLINE=y

# Enable Fingerprint Boost
CONFIG_FINGERPRINT_BOOST=y

# Disable unapplicable CPU vulnerability mitigations
# CONFIG_ARM64_SSBD is not set
# CONFIG_MITIGATE_SPECTRE_BRANCH_HISTORY is not set

# Disable Low Memory Killer
# CONFIG_ANDROID_LOW_MEMORY_KILLER is not set

# Enable Switchable SELinux status
# CONFIG_SECURITY_SELINUX_ALWAYS_ENFORCE is not set
# CONFIG_SECURITY_SELINUX_ALWAYS_PERMISSIVE is not set

# Enable RELR
CONFIG_TOOLS_SUPPORT_RELR=y
CONFIG_ARCH_HAS_RELR=y
CONFIG_RELR=y

# Enable LLVM Polly
CONFIG_LLVM_POLLY=y

# Enable R38P1 GPU Driver
# CONFIG_MALI_BIFROST_R32P1 is not set
CONFIG_MALI_BIFROST_R38P1=y
# CONFIG_MALI_EXYNOS_INTERACTIVE_BOOST is not set
# CONFIG_MALI_EXYNOS_DEBUG_FAULT_DUMP is not set
CONFIG_MALI_PRFCNT_SET_PRIMARY=y
# CONFIG_MALI_PRFCNT_SET_TERTIARY is not set
# CONFIG_MALI_ARBITRATION is not set

# Miscellaneous M62/Upstream Configs
# CONFIG_DEFERRED_INITCALLS is not set
# CONFIG_ARM64_ERRATUM_843419 is not set
# CONFIG_PCIE_IOMMU_HISTORY_LOG is not set
# CONFIG_KSM is not set
CONFIG_NET_UDP_TUNNEL=y
CONFIG_XFRM_INTERFACE=y
CONFIG_NET_SCH_NETEM=y
# CONFIG_SECURITY_PERF_EVENTS_RESTRICT is not set
CONFIG_IKHEADERS=yw
CONFIG_STATIC_USERMODEHELPER=y
CONFIG_STATIC_USERMODEHELPER_PATH=""
# CONFIG_PM_AUTOSLEEP is not set
# CONFIG_PM_DEBUG is not set

# Enable Misc Kernel Features
CONFIG_TCP_CONG_BBR=y
CONFIG_TCP_CONG_CUBIC=y
CONFIG_IOSCHED_BFQ=y
CONFIG_IP_NF_TARGET_TTL=y
CONFIG_CRYPTO_LZ4=y
CONFIG_CRYPTO_ZSTD=y
CONFIG_CPU_BOOST=y

# Enable NTFS
CONFIG_NTFS_RW=y

# Enable Boeffla Wakelock Blocker
CONFIG_BOEFFLA_WL_BLOCKER=y

# Enable Wireguard
CONFIG_WIREGUARD=y

# Enable Power Efficient Workqueues
CONFIG_WQ_POWER_EFFICIENT_DEFAULT=y

# Enable Force DeX WQHD
CONFIG_DISPLAYPORT_DEX_FORCE_WQHD=y

# CPU Mask
CONFIG_LITTLE_CPU_MASK=15
CONFIG_BIG_CPU_MASK=112
CONFIG_PRIME_CPU_MASK=128

# Enable Powersuspend
CONFIG_POWERSUSPEND=y

# CPU Bandwidth (Can make too much CPU's thrrottling)
# CONFIG_CFS_BANDWIDTH is not set

# VM Max Readahead
CONFIG_VM_MAX_READAHEAD=128
CONFIG_VMSTAT_INTERVAL=15

# Disable FIPS
# CONFIG_EXYRNG_FIPS_COMPLIANCE is not set
# CONFIG_EXYRNG_FAIL_POLICY_RESET is not set

# CIFS
CONFIG_CIFS=y
CONFIG_CIFS_STATS=y
CONFIG_CIFS_ALLOW_INSECURE_LEGACY=y
CONFIG_CIFS_XATTR=y
CONFIG_CIFS_POSIX=y
CONFIG_CIFS_ACL=y
CONFIG_CRYPTO_CCM=y
CONFIG_CRYPTO_MD4=y
# CONFIG_CIFS_WEAK_PW_HASH is not set
# CONFIG_CIFS_UPCALL is not set
# CONFIG_CIFS_DFS_UPCALL is not set
# CONFIG_CIFS_SMB311 is not set

# Thermal
CONFIG_THERMAL_GOV_FAIR_SHARE=y
CONFIG_THERMAL_GOV_BANG_BANG=y
# CONFIG_CLOCK_THERMAL is not set
# CONFIG_THERMAL_DEFAULT_GOV_POWER_ALLOCATOR is not set

# Disable Kernel Debug Features
# CONFIG_NTFS_DEBUG is not set
# CONFIG_CIFS_DEBUG is not set
# CONFIG_CGROUP_DEBUG is not set
# CONFIG_SLUB_DEBUG is not set
# CONFIG_BLOCK_SUPPORT_STLOG is not set
# CONFIG_CMA_DEBUGFS is not set
# CONFIG_PM_SLEEP_DEBUG is not set
# CONFIG_MCPS_DEBUG is not set
# CONFIG_TOUCHSCREEN_DUMP_MODE is not set
# CONFIG_MMC_DW_DEBUG is not set
# CONFIG_SAMSUNG_LMKD_DEBUG is not set
# CONFIG_ION_DEBUG_EVENT_RECORD is not set
# CONFIG_CMUCAL_DEBUG is not set
# CONFIG_EXYNOS_DEBUG_TEST is not set
# CONFIG_ARM_EXYNOS_DEVFREQ_DEBUG is not set
# CONFIG_PHY_EXYNOS_DEBUGFS is not set
# CONFIG_PHY_EXYNOS_DP_DEBUGFS is not set
# CONFIG_HAVE_DEBUG_KMEMLEAK is not set
# CONFIG_SCHED_DEBUG is not set
# CONFIG_DEBUG_ATOMIC_SLEEP is not set

# ZSMALLOG Mapping
# CONFIG_PGTABLE_MAPPING is not set
